.profile-screen {
  display: grid;
  grid-template-areas:
      "header header"
      "sidebar main";
  grid-template-rows: 5rem 1fr;
  grid-template-columns: 20rem 2fr;
  gap: 2rem;
}

.profile-header {
  grid-area: header;
}

.profile-sidebar {
  grid-area: sidebar;
}

.profile-main {
  grid-area: main;
}
